body {
	background: #3a12f007;
	font-family: congenial;
	margin: 25px 400px 25px 400px;
}

h1, h2 {
	
	color:#ff0000;
	font-size: 24px;
	font-family: calibri;
	text-align: center;
}

a {
	color: #e5ff00;
	text-decoration: yellowgreen;
	font: 24px;
	
}

p {
  color: #0000FF;
  opacity: 0.9;
	font-size: 18px;
	margin: 25px 100px 25px 100px;
	
}


table, th, td {
  border:2px solid black;
   
   width: 800px;
   padding: 5px;
   vertical-align: middle;
   
}

img {
	padding: 40px;
  	text-align: center;
	
   	float:center;
	width:800px;
	height:200px;

}

th{

	background-color: green;
}

#myHeader {
  background-color: skyblue;
  color: black;
  padding: 40px;
  text-align: center;
  width: 725px;
  display: table-cell;
  
} 

div{
	display: flexbox;
	margin: 25px 100px 25px 100px;
}


input{
	
}


.btn{
	padding: 10px;
	color: white;
}

.btn-1{ background-color: yellow}
.btn-2{ background-color: greenyellow}
.btn-3{ background-color: orange}



#margin{
 border: 5px solid blue;
 margin: 25px 50px 25px 50px;
}

#parent{
  border: 5px solid green;
  margin-left: 50px;
}


#child{
  margin-left: inherit;
}

#mBwSolid{
  border-style:solid;
  border-color: red;
  border-width:20px 10px 4px 30px;
}

#dotB{
	border-style: dotted;
	border-color: red;
}
#dashB{	
	border-style: dashed;
	border-color: green;
}
#solidB{
	border-style: solid;
	border-color: black;
}
#dblB{
	border-style: double;
	border-color: purple;
}

#sDotB{
	border-style: dotted;
	border-color: red;
	border-width: 1px;
}

#lDotB{
	border-style: dotted;
	border-color: red;
	border-width: 10px;
}

#FourDiffSides{
  border-top-style: dashed;
  border-left-style: solid;
  border-bottom-style: dotted;
  border-right-style: double;
}

#rounded{
  border: 5px solid blue;
  border-radius: 10px;
}

#inSpace{
	padding: 50px;
}

/*Descendants Selector in CSS files */

.dSel li{
	color: #aaefff;
	opacity: 1;
	
}

/*Child Selector > in CSS files */
.cSel > li {
  color: green;
	opacity: 1;
	margin: 25px 100px 25px 100px;
}

/*adjacent sibling selector + in CSS files */
.adj + p{
  color: orange;
  margin: 25px 50px 25px 50px;
}

.adj + a{
  color: orange;
  
}


/*general sibling selector ~ in CSS files */

.gen ~ p{
  color: violet;
}

/*Pseudo classes*/

.psDiv{
  background-color: blue;
  color: white;
  padding: 50px;
  width: 150px;
}

.psDiv:hover{
		background-color: aquamarine;
		color: yellow;
}

/*Pseudo classes Links Examples*/

#myLink:link{
	color: teal;
	font-size: 16px;
}

#myLink:visited{
	color: red;
}

#myLink:hover{
	background:blue;
	color: white;
}

#myLink:active{
	background-color: green;
	color:yellow;
}

/*Pseudo classes – Focus example*/

#fId:focus{
	background-color: black;
	color:white;
}

/*Pseudo elements – first-line example*/

.fL::first-line{
	color:red;
}

/*CSS Float property - left, right, and none*/

.theContainer{
	border: solid 5px green;
	width:  450px;
	min-height: 175px;
	padding: 5px;
	margin:5px;
	overflow: auto;
}

.greenBoxR{
	float:none;
	margin: 5px;
	width: 150px;
	height:80px;
	padding: 5px;
	margin:5px;
	background-color: green;

}

/*CSS Float property - clear*/
.floatL{
	float:left;
	margin: 5px;
	width: 150px;
	height:80px;
	background-color: black;
}
.stillFloat{
	border: solid 5px orange;
	width:400px;
	margin: 5px;
			
}

/*CSS- Clear float */

.floatL{
	float:left;
	margin: 5px;
	width: 150px;
	height:80px;
	border: solid 5px red;

}

.clearFloat{
		width:400px;
		clear:left;
		border: solid 5px orange;	
}
/*
.imgL{

	image-rendering:  src="UoA_Logo.jpg" alt="uoalogo";
}
*/

/*CSS - display Inline*/
.dspInline li{
	display: inline;
	color: blue;
}

/*CSS - display block
#dspB{
	display: block;
	background-color: blue;
	color: white;
}
*/
/*CSS- center align block element */

#alignCt{
	display:block;
	border: solid 5px blue;
	margin: auto;
	text-align: center;
	height: 50px;
	width: 150px;
}

/*CSS- right align image*/

#rImg{
	position: absolute;
	left:0px;
}

#lImg{
	position: absolute;
	left:0px;
}

vHcen{
	border: solid 5px green;
	padding: 25px 0;
	text-align: center;
	height: 50px;
	width: 250px;
}